<div class="mt-3">
    <div class="Priorities-row col-md-12">
        <div onclick="goBack()" class="col-md-1 Priorities-row-num title-gold"><span class="icon-right-back1"></span></div>
        <div class="col-md-9 Priorities-row-state" data-bind="text: title"></div>
        <div id="action-title-menu" class="col-md-1 Priorities-row-rate title-gold">
            <div class="dropdown">
                <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon-ActionMenuSelected"></span>
                </a>
                <div id="task-action-buttons" class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuButton">
                    
                </div>
            </div>
        </div>
    </div>
</div>