<div class="mytask-card card card-main table-border-bottom">
    <div class="table-container">
        <table class="main-table">
            <thead>
                <tr class="col-md-12">
                    <th></th>
                    <th sort-by="projectName" translate-text="project-name"></th>
                    <th sort-by="projectOwner" translate-text="project-owner"></th>
                    <th sort-by="startDate" translate-text="start-date"></th>
                    <th sort-by="endDate" translate-text="end-date"></th>
                    <th sort-by="progress" translate-text="progress"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="project-data-table" data-bind="foreach: projects">
                <tr class="view col-md-12">
                    <td class="accordion" data-bind='click: openProjectCollapse'></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: DisplayName"></td>
                    <td data-bind="text: startDate"></td>
                    <td data-bind="text: endDate"></td>
                    <td>
                        <div class="progress-container progress-width">
                            <span data-bind="text: progress"></span>
                            <div class="progress-box p-0">
                                <div class=" progress">
                                    <div class="progress-bar" data-bind="style: { width: progress }" role="progressbar">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown dropleft">
                            <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span class="heading-6 icon-ActionMenu"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuButton"
                                x-placement="bottom-start">
                                <a data-bind='click: displayProject' class="dropdown-item"><span
                                        class="icon-See-Details1"></span> <span translate-text="display"> </span></a>
                                <!-- ko if: isOwner -->
                                <!-- ko ifnot: isEnded -->
                                <a class="dropdown-item" data-bind='click: editProject'><span class="icon-Edit"></span>
                                    <span translate-text="edit"></span></a>
                                <!-- ko if: isInprogresss -->
                                <a class="dropdown-item" data-bind="click: stopProject"><span class="icon-1"></span>
                                    <span translate-text="stop"></span></a>
                                <!-- /ko -->
                                <!-- ko if: isStopped -->
                                <a class="dropdown-item" data-bind="click: completeProject"><span
                                        class="icon-Returned"></span> <span translate-text="complete"></span></a>
                                <!-- /ko -->
                                <a class="dropdown-item" data-bind="click: endProject"><span class="icon-OnOff"></span>
                                    <span translate-text="end"></span></a>
                                <!-- ko if: haveDelete -->
                                <a class="dropdown-item" data-bind='click: deleteProject'><span
                                        class="icon-Delete"></span><span translate-text="delete"></span></a>
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- /ko -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="fold">
                    <td colspan="7">
                        <div class="fold-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="exported-label exported-label-gray"
                                        translate-text="project-relate-prog"></label>
                                    <div class="card-exported" data-bind="text: programName"></div>
                                </div>
                                <div class="col-md-6">
                                    <label class="exported-label exported-label-gray"
                                        translate-text="project-manager"></label>
                                    <div class="card-exported">
                                        <span class="user-record" data-bind="text: DisplayName"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="exported-label exported-label-gray"
                                        translate-text="start-date"></label>
                                    <div class="card-exported" data-bind="text: startDate"></div>
                                </div>
                                <div class="col-md-6">
                                    <label class="exported-label exported-label-gray" translate-text="end-date"></label>
                                    <div class="card-exported" data-bind="text: endDate"></div>
                                </div>

                                <div class="col-md-12">
                                    <label class="exported-label exported-label-gray"
                                        translate-text="description"></label>
                                    <div class="card-exported" data-bind="text: description"></div>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label class="exported-label exported-label-gray" translate-text="notes"></label>
                                    <div class="card-exported" data-bind="text: notes"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>
<div class="mytask-card card card-main" style="padding: 0;">
    <ul class="pagination justify-content-center">
    </ul>
</div>