<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title" translate-text="reasign-task"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" id="">
            <div class="row required-fileds">
                <div class="col-md-12">
                    <div class="form-row " id="taskUsers">
                        <label for="" class="modal-property property-required" translate-text="task-worker"></label>
                        <div class="form-select-container task">
                            <select id="task-users" data-bind="selectize:taskUsersOptions, selectedOptions:taskUsers"></select>
                            <!-- <select id="task-owner-options" data-bind="selectize: taskOwnerOptions, selectedOptions: taskOwner"></select> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-row">
                        <label for="comments" class="modal-property"  translate-text="comments"></label>
                        <textarea type="textarea" id="comments" data-bind="value: comment" class="textarea-input form-control form-input form-input-text" ></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer block">
                    <!-- <span class="icon-Edit"></span> -->
                    <button class="button button-third float-right" id="performer-update" data-bind='click: update, disable: hasError' translate-text="edit"></button>
                    <button class="button button-third  float-right" id="performer-close" data-bind='click: close' data-dismiss="modal" data-toggle="tooltip" data-original-title="" title="" translate-text="close"></button>
            </div>   
        
        </div>
    </div>
</div>
